[submodule "lib/lessphp"]
	path = lib/lessphp
	url = git://github.com/leafo/lessphp.git
[submodule "lib/Spyc"]
	path = lib/Spyc
	url = git://github.com/mustangostang/spyc.git
[submodule "data/web/wysiwyg"]
	path = data/web/wysiwyg
	url = https://github.com/mindmup/bootstrap-wysiwyg.git
[submodule "data/web/_/js/wysiwyg"]
	path = data/web/_/js/wysiwyg
	url = https://github.com/mindmup/bootstrap-wysiwyg.git
